@import "../../../index";

%card-container {
  border: 2px solid lighten($dark_color, 40);
  @extend %light_background;
  @extend %dark_font_color;
}
.short-desc-container {
  @extend %card-container;
  margin-top: 15vh;
  width: 50vw;
  &:hover {
    border: 2px solid darkorange;
    @extend %light_background_hover;
  }
}

.open-status {
  color: green;
}

.closed-status {
  color: red;
}

.img-sm{
  width: 40vw !important;
  height: 50vh;
}

.full-desc-container {
  @extend %card-container;
  margin-right: 10vw;
}