@import "../../_index.scss";

.centeredContainer {
 @extend %centered_translation;
  border: 2px solid white;
}

.input-group-prepend-login {
 padding: 0.3em;
 font-size: 22px;
 @extend %light_background;
}